In [10]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [11]:
df=pd.read_csv("Secondhand Car price Prediction.csv")
df.describe()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
count,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.00000
mean,500.500000,601648.286000,799131.3970,4.561000,100274.430000,2.988000,5.592000,11.625000,166.89300,84.54600,103.423000,308520.24250
std,288.819436,58407.246204,57028.9502,1.719079,29150.463233,1.402791,2.824449,2.230549,19.28838,20.51694,21.058716,126073.25915
min,1.000000,500265.000000,700018.0000,2.000000,50324.000000,1.000000,1.000000,8.000000,135.00000,50.00000,68.000000,28226.50000
25%,250.750000,548860.500000,750997.7500,3.000000,74367.500000,2.000000,3.000000,10.000000,150.00000,67.00000,85.000000,206871.75000
50%,500.500000,601568.000000,798168.0000,5.000000,100139.500000,3.000000,6.000000,12.000000,166.00000,84.00000,104.000000,306717.75000
75%,750.250000,652267.250000,847563.2500,6.000000,125048.000000,4.000000,8.000000,13.000000,184.00000,102.00000,121.000000,414260.87500
max,1000.000000,699859.000000,899797.0000,7.000000,149902.000000,5.000000,10.000000,15.000000,200.00000,120.00000,140.000000,584267.50000

In [12]:
x_train=df[['on road old', 'years', 'km', 'rating','condition', 'economy', 'hp', 'torque']]
reg=linear_model.LinearRegression()
y_train=df[ 'current price']
reg.fit(x_train,y_train)

LinearRegression()

In [13]:
x_test=x_train

In [14]:
reg.predict([[535651,3,78945,1,2,14,73,123]])

c:\Users\harsh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([345075.31568327])

In [15]:
test=df[['on road old', 'years', 'km', 'rating','condition', 'economy', 'hp', 'torque']]
test

     on road old  years      km  rating  condition  economy   hp  torque
0         535651      3   78945       1          2       14   73     123
1         591911      6  117220       5          9        9   74      95
2         686990      2  132538       2          8       15   53      97
3         573999      4  101065       4          3       11   54     116
4         691388      6   61559       3          9       12   53     105
..           ...    ...     ...     ...        ...      ...  ...     ...
995       633238      5  125092       1          6       11   95      97
996       599626      4   83370       2          9       14  101     120
997       646344      7   86722       1          8        9  113      89
998       535559      2  140478       4          5        9  112     128
999       590105      5   67295       4          2        8   99      96

[1000 rows x 8 columns]

In [16]:
y_test=reg.predict(x_test)

In [17]:
# pred=np.array(pred)
# y=np.arange(1000)
# plt.plot(y,pred-df['current price'],color='blue')
# plt.plot(y,df['current price'],color='Black')

In [18]:
from sklearn.metrics import r2_score
r2 = r2_score(df['current price'], pred)
r2

NameError: name 'pred' is not defined

In [ ]:

# regressor.fit(x_train,y_train)
score = reg.score(x_test, y_test)
score

In [ ]:
final=x_train

In [ ]:
final["y"]=y_train
final["y_predicted"]=y_test
final.drop(columns=['y_pred'],inplace=True)
final

In [ ]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(final.y, final.y_predicted)
mse

In [ ]:
from sklearn.metrics import mean_absolute_error

# true values
y_true = final.y
# predicted values
y_pred =final.y_predicted

mean_absolute_error(y_true, y_pred)

In [ ]:
np.sqrt(mean_squared_error(y_true, y_pred))

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_true, y_pred)*100

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_true, y_pred)*100

In [ ]:
reg.score()